[flake8]
# Устанавливаем максимальную длину строки как у black
max-line-length = 130

# Игнорируемые ошибки.
# E203: пробел перед двоеточием (конфликтует с black).
# W503: разрыв строки перед бинарным оператором (конфликтует с black).
# E501: ошибка длины строки (мы уже используем black для форматирования,
# поэтому эта проверка становится менее критичной, но ее можно и оставить).
extend-ignore = E203, W503

# Директории и файлы, которые нужно исключить из проверки.
# Обязательно добавьте ваше виртуальное окружение!
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist