# Python cache
__pycache__/
*.pyc

# Session data from Selenium
linkedin_session/

# Virtual environment
.venv/
venv/

.idea/

# Configuration file with secrets.
# Create a config.example.py to commit instead.
#config.py

# Sensitive documents
CV_David_Izhak_Software_Engineer.pdf
.env
resume.txt

# Development files
screenshots/
logs/
scripts/
generated_letters/
*.db
TODO.md
tz1.md


# Cursor
.cursorignore
.cursor/
memory-bank/
.vscode/
.kilocode/
